.offer-square {
  width: 80%;
  aspect-ratio: 1;
  background-color: #f1f1f1;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.offer-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e07a64;
  position: absolute;
  top: -15px;
  left: -15px;
}
.offer-name {
  font-size: 24px;
}
.offer-description {
  font-size: 18px;
  line-height: 21px;
}

@media (min-width: 320px) {
  .offer-square {
    width: 300px;
  }
}
@media (min-width: 1024px) {
  .offer-square {
    width: 198px;
    height: 194px;
  }
  .offer-square:hover {
    scale: 1.05;
  }
}
