.navbar {
  color: #ffffff;
  background-color: #4e4e4e;
  height: 50px;
  font-size: 18px;
  display: flex;
}
.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .navbar {
    justify-content: center;
  }
  .company-name {
    font-weight: 700;
  }
}
