
.employee-pic {
  width: 197px;
  height: 197px;
  background-position: center;
  border-radius: 50%;
  overflow: hidden;
}
.employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 21px;
}
.employee-name {
  margin: 25px 0 20px 0;
  font-size: 18px;
  line-height: 21px;
}

@media (min-width: 1024px) {
 
  .employee {
    flex-direction: row;
    gap: 30px;
  }
  .employees-header {
    text-align: start;
    font-weight: 700;
  }
  .employee:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: end;
  }
  .employee-info {
    width: 750px;
  }
}
